<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

@RenderBody()

<footer>
    <p>Author: Velikiy Prikalel<br>
        <a href="mailto:jispar@mail.ru">jispar@mail.ru</a></p>
</footer>

@RenderSection("Scripts", required: false)
</body>
</html>