@model dynamic

@{
    Layout = "_Layout";
    ViewData["Title"] = "SignalR";
}

<div style="margin: auto">

    HELLO WORLD!

</div>

@section Scripts {
    <script type="module">
        console.log("hi!");
    </script>
}